body{
    margin: 0;
    padding: 0;
    background: linear-gradient( #ff0000, #000);
}
nav{
    background-image: linear-gradient( #ff0000, #000);
    box-shadow: 0 8px 6px -6px black;
    height: 50px;
    width: 100%;
}
.navWrap{
   display: flex;
}
.logoWrap{
    height: 50px;
    width: 20%;
}

.linkWrap{
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-around;
    margin-left: auto;
    width: 70%;
}
.logo{
    color: #fff;
    float: right;
    font-family: monospace;
    font-size: 35px;
    font-weight: 700;
    padding: 5px 30px;
    text-shadow: 1px 1px black;
}
.logo:hover{
    color: #ffffffd8;
}
a{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #ffffffd8;
}
/* container  */
.container{
  height: 500px;
}
.container:hover{
 cursor: pointer;
}
.mainImg{
    height: 100%;
	width: 100%;	
}
.bar{
	height: 50px;
	left: 100px;
	position: absolute;
	top: 240px;
	width: 85%;
}

.nextAndPrev{
	display: flex;
	justify-content: space-between;
}

.next{
    border-bottom: 20px solid transparent;
    border-right: 30px solid #fff;
    border-top: 20px solid transparent;
	height: 0;
	padding-left: 100px;
	width: 0;
	z-index: 3;
}
.next:hover{
	border-right: 30px solid #f00202;
}
.prev{
    border-bottom: 20px solid transparent;
    border-left: 30px solid #fff;
    border-top: 20px solid transparent;
	height: 0;
	padding-right: 100px;
	width: 0;
    z-index: 3;	
}
.prev:hover{
	border-left: 30px solid #19f005;
}
.welcome{
    border-radius: 50%;
    height: 250px;
    left: 70%;
    position: absolute;
    top: 320px;
    width: 250px;
}
/* // welcome photo */
.imgFluid{
    border:10px solid #fff;
    border-radius: 100%;
    width: 100%;
    z-index: 2;
}
.bottom{
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    left: 200px;
    position: absolute;
    top: 540px;
}
.sectionOne{
	display: none;
    margin: 0 auto;
}
.leftSide{
	height: 500px;
	width: 60%;
}
.rightSide{
    border: 10px solid #ff0000;
	border-left: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 5%;
    margin-top: 5%;
    height: 200px;
    padding: 1.5% 3.5% 5%;
    transform: rotate(-20deg);
    width: 20%;
}
.leftSideImg{
	height: 100%;
	width: 100%;
}
.title{
	text-align: center;
}

.description{
	padding-left: 5%;
	padding-right: 5%;
}
.resBut{
    background: #053800;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}
.ordFood{
    background: #dbeb00;
    border: 0;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
}
.butWrap{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.sectionTwo{
    display: none;
}
.sectionThree{
    display: none;
}
.sectionFour{
    display: none;
}